<div class="card card--library-item">

    <h3 class="card-header">{{if item.name item.name 'Library Name'}}</h3>

    {{#if item.hasBody}}

        <div class="card-block">

            {{#if item.address}}

                <p>{{item.address}}</p>

            {{/if}}

            {{#if item.phone}}

                <p>{{item.phone}}</p>

            {{/if}}

        </div>
        <!-- /.card-block -->

    {{/if}}

    {{!-- hasBlock will be true if yield is true --}}
    {{#if hasBlock}}

        <div class="card-footer">

            {{yield}}

        </div>
        <!-- /.card-footer -->

    {{/if}}

</div>
<!-- /.card -->