<div class="card">

    <h3 class="card-header">{{item.name}}</h3>

    <div class="card-block">

        <p>{{item.address}}</p>

        <p class="mb-0">{{item.phone}}</p>

    </div>
    <!-- /.card-block -->

    <div class="card-footer">

        {{yield}}

    </div>
    <!-- /.card-footer -->

</div>
<!-- /.card -->