@import '../../bower_components/bootstrap/scss/bootstrap';

body {
    padding-top: 20px;
}

.card--library-item {
    p:last-child {
        margin-bottom: 0;
    }
}

.label-fade {
    margin: 10px;
    opacity: 0;
    @include transition(all 0.5s);
    &.label-show {
        opacity: 1;
    }
}
