<h1>Contacts</h1>

{{#if model}}

    <table class="table table-bordered">

        <thead>

            <tr>

                <th>Email</th>
                <th>Message</th>
                <th>Actions</th>

            </tr>

            {{#each model as |contact|}}

                <tr>

                    <td>{{contact.email}}</td>
                    <td>{{contact.message}}</td>
                    <td>
                        <button class="btn btn-secondary btn-block" {{action 'deleteContact' contact}}>Delete</button>
                    </td>

                </tr>

            {{/each}}

        </thead>

    </table>

{{else}}

    <p>No contacts yet.</p>

{{/if}}