<h2>List</h2>

<div class="row">

    {{#each model as |lib|}}

        <div class="col-sm-4">

            {{#library-item item=lib}}

                {{#link-to 'libraries.edit' lib.id class="btn btn-success btn-sm"}}Edit{{/link-to}}
                <button class="btn btn-danger btn-sm" {{action 'deleteLibrary' lib}}>Delete</button>

            {{/library-item}}

        </div>
        <!-- /.col-sm-4 -->

    {{else}}

        <p>There are no libraries yet. Go {{#link-to 'libraries.new'}}add one{{/link-to}}!</p>

    {{/each}}

</div>
<!-- /.row -->