<h1>Libraries</h1>

<div class="card mb-3">

    <div class="card-block">

        <ul class="nav nav-pills">

            <li class="nav-item">
                {{#link-to 'libraries.index' classNames="nav-link"}}List All{{/link-to}}
            </li>

            <li class="nav-item">
                {{#link-to 'libraries.new' classNames="nav-link"}}Add New{{/link-to}}
            </li>

        </ul>
        <!-- /.nav nav-pills -->

    </div>
    <!-- /.card-block -->
</div>
<!-- /.card -->

{{outlet}}